.stars{
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: space-around;
    .star {
        height: 3em;
        width: 3em;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: .1em;

    
        &.full {
            background-image: url("../../assets/images/fullStar3D2.png")
        }
    
        &.empty {
            background-image: url("../../assets/images/emptyStar3D2.png")
        }
    
        &.half {
            background-image: url("../../assets/images/halfStar3D2.png")
        }
}
}
