@import "./../../variables.scss";

.card {


    width: 100%;
    // height: 300px;
    // margin: 1em;
    padding: 5px;
    // background-color: $white;
    color: $black;
    border-top: 1px solid $gray;
    padding: 3em 0em;




    &:last-child {
        border-bottom: 1px solid $gray;
    }




    @media (max-width: $mq-max-width) {
        // width: 90vw;
    }

    .inner-card {
        padding: 0 5rem;
    }

    .card-content {
        display: flex;
        align-items: center;
    }

    .uploaded-img {
        height: 200px;
        width: 150px;
        // background-color: $gray;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
    }



    h2,
    h3,
    p {
        text-align: left;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }

    h2,
    h3,
    .color {
        text-transform: capitalize;
    }

    p {
        margin: .5em 0;
    }

    .chips {
        display: flex;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .inactive {
        opacity: .8;
        color: $gray;
    }

    .card-content {
        align-items: center;
    }

    .price {
        width: 100%;
        text-align: right;
    }

    .notes {
        // background-color: gray;
        font-family: $body-font;
    }



    .chip-span {
        display: flex;
        align-items: center;


        .chip {
            color: $white;
            padding: .15em .75em;
            border-radius: 25px;
            background-color: red;
            width: fit-content;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;

            margin-right: 5px;

        }

        .price {
            background-color: #b1a5a7;
        }

    }

    .color-circle {
        height: .7em;
        width: .7em;
        background-color: $secondary;
        border-radius: 100%;
        margin-right: .3em;
    }

    .details {
        flex: 1;
    }

    .brand,
    .price {}

    .product {}




    .color {
        color: $gray;
    }

    .img {
        height: 5em;
        width: 5em;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 1em;

        &.good {
            background-image: url("../../assets/images/good.webp")
        }

        &.bad {
            background-image: url("../../assets/images/bad.webp")
        }

        &.closed {
            background-image: url("../../assets/images/closed.webp")
        }

        &.question {
            background-image: url("../../assets/images/question.webp")
        }
    }

}

.card:not(.inactive) {
    // -webkit-box-shadow: 10px 6px 24px -19px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 10px 6px 24px -19px rgba(0, 0, 0, 0.75);
    // box-shadow: 10px 6px 24px -19px rgba(0, 0, 0, 0.75);
}

.prev-img {
    height: 3em;
}